*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

:root{
    --white:white;
    --Orage:#F25C05;
    --blue:#023059 ;
}

body{
    font-family: 'Manrope', sans-serif;
    
}

.titleImg{
    background-color: #d2d2d2;
    width: 40px;
    height: 40px;
}

.main-container{
    width: 100%;
    max-width: 1500px;
    
    margin: 0 auto;
    align-items: center;
    


}



/** star nav**/

.header{
    background-color:rgb(243, 239, 239);
    color: var(--white);
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    z-index: 20000;
    
}
.header a{
    color:var(--blue);
    text-decoration: none;
    
}

main{
    width: 100%;
    padding-top: 8rem;
   
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items:center;

}



.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.navegacion ul li{
    display: inline-block;
    
}

.navegacion ul li a{
    
    display: block;
    padding: 7px 35px;
    transition: all 0.3s linear;
    border-radius: 30px;
    font-size: 24px;
    margin-right: 100px;
    
}

.navegacion ul li a:hover{
    background-color: var(--Orage);
    color: white;
    
    
}

.logo img{
    width: 350px;
    height: 300px;
}

.containerH{
    height: 100px;
}

.nav-ul{
   
    max-width: 1500px;
    min-width: 1450px;
   
}











/**End navar**/




#btnWhatsapp {
    
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

#btnWhatsapp i {
    margin: auto;
    width: 60px;
    height: 60px;
    line-height:55px;
    font-size: 45px;
    bottom: 30px;
    right: 80px;
    position: fixed;
    background-color: #0df053;
    color: white;
    align-items: center;
    border-radius: 50%;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.3 );
   z-index: 100;
}

#btnWhatsapp i:hover{
    box-shadow: 5px 20px 20px rgba(0,0,0,0.3 );
    z-index: 500;
	
} 



.nosotros{
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nosotros h1{
    margin-bottom: 50px;
    color: var(--Orage);
}

.nosotros p{
    font-size: 24px;
    opacity: 0.7;
}

.nosotros i{
    color: green;
    font-size: 50px;
}

.carrusel{
    width: 100%;
    height: 600px;
    
   
    

    
}

.carrusel-container img{
    width: 100%;
    height: 500px;
    
    
    
}

.carrusel-container{
    padding: 20px;
    
    
    
}



.carousel .control{
   transition: .02s ease;
   transition-delay:0s;
}

.carousel-inner P{
  font-size: 30px;
  font-weight: bold;
}

.carousel-caption{
 padding-bottom: 180px;
 
}

.sliderP{
    padding-bottom: 200px;
    
    
}

.servicios{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}


.container-card{
	width: 100%;
	display: flex;
    margin: auto;
    grid-gap: 0;
    
	
	
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	color: var(--blue);
    
}

.title-cards h2{
    font-size: 50px;
}

.card{
	width: 300px;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    
    
}




.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 200px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: var(--blue);
    font-size: 20px;
    text-align: center;
    
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: auto;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
   
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}





.container-card{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    
    
}











.contactUs-container{
    
    background-color: var(--blue);
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    gap: 10px;
    width:100%;
    height: 700px;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    
}

#div-form{
    
    width: 100%;
    height: 100%;
    margin-top: 100px;
    
    
}

#form{
    width: 90%;
    height: 600px;
    background-color:var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-color: black;
    padding: 25px 0 ;
    
}

#form input{
    width: 400px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border-width: 1px 1px 1px 1px;
    border: 1px solid #d2d2d2;
    opacity: 0.5;

    
    
    
}

#textarea{
    margin-top: 10px;
    width: 400px;
    height: 120px;
    border-width: 1px 1px 1px 1px;
    border: 1px solid #d2d2d2;
    opacity: 0.5;
}


#btnEnviar{
    text-decoration: none;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border-width: 1px 1px 1px 1px;
    border: 1px solid #d2d2d2;
    color: var(--blue);
    opacity: 0.7;
    
}



#btnEnviar:hover{
    background-color: var(--Orage);
    transition: .5s;
    color: var(--white);
    
}

.formBtn{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.inputerror{
    text-align: right;
   padding: 0;
    width: 400px;
    color: red;
    font-size: 13px;
    
}

#info-div{
    
    margin-top:30px;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: white;
   
    
}


.inconsContainer{
    width: 100%;
    height: 100%;
    
    

    
     
}

.ulContent{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 10px;
    list-style: none;
}

.ulContent i{
    font-size: 25px;
    color: var(--Orage);
}

.liContent{
    margin: 20px;
    text-align: justify;
    
}

.liContent span{
    margin: 0 10px;
    font-size: 25px;
}

#footer{
    background: #d2d2d2;
    width: 100%;
    
    align-items: center;
    text-align: center;
}

#footerContent{
    
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.footerMenu{
    margin: auto;
    width: 100%;
    height: 300px;
    text-align: right;
    
        
}

.footerMenu ul li{
    list-style: none;
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
}

.footerMenu a{
    text-decoration: none;
    color: var(--blue);
    font-size: 15px;
    font-weight: bold;

    
}


.logoFooter{
    width: 250px;
    height: 230px;
    

    
}




.bntContact:hover{
        background-color: var(--Orage);
        padding: 15px ;
        transition: .5s;
        color: var(--white);
        border-radius: 20px;
        color: white;
        
    }



.textCopyrigth{
    margin: auto;
    font-weight: bold;
    font-size: 15px;
    padding: 40px 20px;
    
}



hr{
    width: 100%;
    border: solid 1px;
    border-color: black;
    box-shadow: 0px 5px 4px -1px rgb(20 20 20 / 50%);
    
}

.logoFDiv{
    margin-top: 1%;
    
    width:90% ;
    display: flex;
    flex-direction: column-reverse;
    height: 150px; 
    
}

.iconosFooter{
    
    display: flex;
    flex-direction: row;
    
}

.iconosFooter ul li{
    
    list-style: none;
    display: inline-block;
    font-size: 24px;
    padding: 0 20px;
    
}

.iconosFooter i{
    color: var(--blue);
}



.textDescription h1{
    
    padding: 10px;
}

#cerrar{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border-width: 1px 1px 1px 1px;
    border: 1px solid #d2d2d2;

}

#cerrar:hover{
    background-color: var(--Orage);
    transition: .5s;
    color: var(--white);
    
}

.logoFDiv img{
    width: 300px;
    padding: 0 0;
    position: absolute;
    
}


#btnImpuestos{
    position: absolute;
}

.confirmationDialoge{
    
    width: 800px;
    height: 300px;
    background-color:var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-color: black;
    padding: 20px 20px;
    position: fixed;
    display: none;
    z-index: 2000;
    top: 30%;
    margin-left: 350px;
    border: 1px solid #d2d2d2;
    opacity: 0.9;
    
    
}

.confirmationDialoge p{
    opacity: 0.8;
    justify-content: center;
    text-align: center;
   font-size: 30px;
    padding: 2px 10px;
    margin: auto;
    color:gray;
   
}

.confirmationDialoge i{
    font-size: 80px;
    color: green;
    
}

.toggle-menu{
    display: none;
    font-size: 30px;
}


#hamburgerIcone{
    display: none;
}


/** responsive**/




@media (max-width: 700px) {
    body{
        background-color: var(--blue);
    }

    .carrusel img{
        width: 100%;
        height: 300px;
  
    }
    
    .carrusel {
        width: 100%;
        height: 350px;
    }

    .navegacion{
       width: 250px;
       height: 100%;
    }

    .header{
        width: 100%;
        background-color: var(--blue);
    }

    .nav-ul{
        margin-top: 0;
        margin-bottom: 0;
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        
        text-align: center;
        width: 100%;
        height: 100vh;
        z-index: 100;
        opacity: 0.9;
        transition: transform 0.4s;
        transform: translateY(-100%);
        min-width: 0;
        
    }

    

    
    .nav-ul--show{
        transform: translateY(0);
    }

   
    #hamburgerIcone{
        display: flex;
        background-color: var(--blue);
        color: white;
        font-size: 40px;
        top: 1.5rem;
        right: 1.5rem;
        position: absolute;
        z-index:100 ;
        cursor: pointer;
    
        

    }

    .navegacion ul li a{
        font-size: 25px;
        padding: 20px 20px;
        margin-top:0 ;
        color: #fff;
        text-align: center;
    }

    .navegacion ul li a:hover{
        background-color:var(--blue);
        color: white;
        padding: 10px 50px;
        transition: 0.3s;
        
        
    }

    .header{
        padding: 0;
    }



    .logo{
        display: none;
    
      }




    .container-card{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
        grid-gap: 0px;
        
        
    }

    .card{
        padding: 0 0;
        width: 90%;
        height:auto;
        padding:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card img{
        width: 50%;
        height: auto;
    }

    .contenido-card{
        width: 100%;
        height: 100%;
    }

    .servicios{
        width: 100%;
        
        
    }

    #containerServicios{
        width: 100%;
        
    }



    .contactUs-container{
        display:block;
        width: 100%;
        margin: 0;
        padding:0;
    }


    #info-div{
        width: 90%;
        padding: 30px 30px;
        align-items: center;
        margin: auto;
        text-align: center;
        
        
    }

    .ulContent{
        width: 100%;
        
        
       
    }

    #info-div h3{
        font-size: 30px;
    }

    .liContent{
        width: 100%;
        margin: 20px 20px;
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }

    .liContent{
        font-size: 30px;
    }

    

    
    #div-form{
        
        width: 100%;
        height: 600px;
        margin: 0 0;
        padding: 0 0;
        
        
        
    }

    #form{
        width: 100%;
        height: 100%;
        padding: 0 0;
        background-color: var(--blue);
     
    }

    #form{
        color: white;
    }

    #footer {
      display: none;

    }


    .nosotros {
        margin: auto;

    }

    .nosotros p{
        font-size: px;
        text-align: justify;
        color: white;
        
    }

    .nosotros h1{
        font-size: px;
        
       
    }

    .confirmationDialoge{
        width: 80%;
        height: auto;
        display: none;
         right: 10%;
         
     }

    
}

@media (max-width: 500px){
    body{
        background-color: var(--blue);
    }
    
    .main-container{
        overflow: hidden;
    }

    .navegacion{
        width: 200px;
        height: 100%;
        
        
     }
 
     .header{
         width: 100%;
         background-color: var(--blue);
     }
 
     .nav-ul{
         margin-top: 0;
         margin-bottom: 0;
         
         color: white;
         list-style: none;
         display: flex;
         flex-direction: column;
         background-color: black;
         align-items: center;
         
         text-align: center;
         width: 100%;
         height: 100vh;
         z-index: 100;
         opacity: 0.9;
         transition: transform 0.4s;
         transform: translateY(-100%);
         min-width: 0;
         
     }
 
     
 
     
     .nav-ul--show{
         transform: translateY(0);
     }
 
    
     #hamburgerIcone{
         display: flex;
         font-size: 40px;
         top: 1.5rem;
         right: 1.5rem;
         position: absolute;
         z-index:100 ;
         cursor: pointer;
         
     
         
 
     }
 
     .navegacion ul li a{
         font-size: 20px;
         padding: 20px 40px;
         margin-top:0 ;
         color: #fff;
         margin-right: 0;
         
        
     }

     .navegacion ul li{
        
        width: 100%;
        color: #fff;
        text-align: left;
        margin-top: 40px;
       
    }
 
     .navegacion ul li a:hover{
         border-bottom: 1px solid #ffffff;
         
           
     }

   

     
 
     .header{
         padding: 0;
     }
 
 
 
     .logo{
         display: none;
     
       }


    .container-card{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        grid-gap: 0px;
        
        
    }

    .card{
        padding: 0 0;
        width: 80%;
        height:auto;
        padding:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card img{
        width: 35%;
        height: auto;
    }

    .contenido-card{
        width: 100%;
        height: 100%;
    }

    .servicios{
        width: 100%;
        
        
    }

    #containerServicios{
        width: 100%;
        
    }



    .contactUs-container{
        display:block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding:0;
    }


    #info-div{
        width: 100%;
        padding: 30px 30px;
        align-items: center;
        margin: auto;
        text-align: center;
        
        
    }

    .ulContent{
        width: 100%;
        margin: 0;
        
        
       
    }

    #info-div h3{
        font-size: 25px;
        color: var(--Orage);
        font-weight: bold;
    }

    .liContent{
        width: 100%;
        margin: 10px 20px;
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }

    .inconsContainer{
        width: 100%;
        
    }

    .liContent{
        font-size: 18px;
        text-align: left;
        font-weight: bold;
    }

    

    
    #div-form{
        
        width: 100%;
        height: 100%;
        margin: 0 0;
        padding: 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        
        
    }

    #form{
        
        width: 90%;
        height: 100%;
        padding: 0 0;
        background-color: var(--blue);
     
    }

    #form input{
        width: 80%;
        
    }

    #textarea{
        width: 80%;
    }

    .formBtn{
        width: 80%;
        align-items: flex-start;
    }

    #btnEnviar{
        width: 150px;
        color: white;
        background-color: var(--Orage);
        font-size: 20px;
        font-weight: bold;
    }

    #footer {
    width: 100%;
    background-color:white;
    color: white;
    display: flex;
      margin-top: 60px;
    height: auto;
    display: flex;
    flex-direction: column;

    }

    .footerMenu{
        display: none;
        

    }

    #footerContent{
        background-color: white;
        width:90%;
        display: inline-block;
    }

    .iconosFooter{
        width: 100%;
        
        display: flex;
        flex-direction: row;
        text-align: right;
        
        

    }

    .iconosFooter ul li a i{
        color: black;
        align-items: center;
        padding: 0  10px;
        font-size: 20px;
    }
    
    .logoFDiv{
        width: 100%;
        height: 100%;
        margin: auto;
        
        align-items: center;
    }

    .logoFDiv img{
        width: 200px;
        height: 200px;
        align-items: center;
        
    }



    .nosotros {
        margin: auto;
        width: 90%;
        height: auto;
        padding: 0 0.5rem;

    }

    .nosotros p{
        font-size: 15px;
        text-align: center;
        color: white;
    
        
    }

    .nosotros h1{
        margin-bottom: 1.5rem;
        font-size: 25px;
        
        
       
    }

   

    .title-cards h2{
        color: var(--Orage);
        font-size: 30px;
    }

    #btnWhatsapp i{
        bottom: 30px;
        right: 9px;
        opacity: 0.7;
        font-size: 35px;
        
    }

    .textCopyrigth{
        background-color:var(--blue);
        color: white;
        font-size: 0.8rem;
        
    }



    .confirmationDialoge{
       width: 80%;
       height: auto;
       display: none;
        right: 10%;
        
    }

    
    
   
    

}
  

   
    
 






































